/* CSS file */

BODY{
	fontFamily: "宋体";
	fontSize: 12;
}
LinkButton{
	padding-left:0;
	padding-right:0;
}
.halt{
	color:#ff9d07;
}
.actived{
	color:green;
}
Button.quit
{
	color: #FFFFFF;
	fillAlphas: 0.73, 1.0, 0.73, 0.73;
	fillColors: #216CD3, #53C9F9;
	fontFamily: "宋体";
	fontSize: 12;
	borderColor: #519ADB;
	themeColor: #FFFFFF;
}

Button
{
	fontFamily: "宋体";
	fontSize: 12;
	
	fillColors: #CBDCF5, #ffffff;
}
Canvas.myCanvas {    
	
	
	background-position: center;
	
	
	
	
	
}
TextArea.talkContent
{
	backgroundColor: #F6F9FC;
	cornerRadius: 10;
}
Canvas
{
	fontFamily: "宋体";
	fontSize: 12;
	fontStyle: normal;
	fontWeight: normal;
	textDecoration: none;
}

Accordion
{
	fontFamily: "宋体";
	fontSize: 12;
	fontStyle: normal;
	fontWeight: normal;
	textDecoration: none;
}

VideoDisplay
{
	backgroundColor: #EDF7FF;
}
RichTextEditor.msgBox
{
	cornerRadius: 10;
	fontSize: 12;
	fontStyle: normal;
	fontWeight: normal;
	controlBarStyleName: richTextEditorControlBar;
	titleStyleName: richTextEditorTitle;
	borderAlpha: 1.0;
	borderColor: #ECF7FF;
}
.richTextEditorControlBar
{
	backgroundSize: auto;
}
.richTextEditorTitle
{
}

