<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<substitutionProperty name="log.base" value="../logs/systopbase" />

	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	
	<logger name="com.systop.common.modules.security.acegi">
	    <level value="INFO" />
	</logger>
	<logger name="com.systop">
		<level value="INFO" />
	</logger>
	<logger name="quake">
		<level value="DEBUG" />
	</logger>
	<logger name="org.ecside">
		<level value="INFO" />
	</logger>
	<logger name="java.sql">
		<level value="INFO" />
	</logger>
	<logger name="org.mortbay">
		<level value="INFO" />
	</logger>
	<logger name="org.apache">
	  <level value="INFO"/>
	</logger>  
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="ERROR" />
	</logger>
		<logger name="org.hibernate.cache">
		<level value="ERROR" />
	</logger>
	<logger name="org.apache.struts2">
		<level value="ERROR" />
	</logger>
	<logger name="com.opensymphony.xwork2">
		<level value="WARN" />
	</logger>
	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
		<level value="ERROR" />
	</logger>
	<logger name="org.directwebremoting">
	    <level value="ERROR" />
	</logger>
	<logger name="org.acegisecurity">
	    <level value="ERROR" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>
    <logger name="net.sf">
        <level value="ERROR" />
    </logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>

