.x-form-field-wrap .x-form-trigger{
    display: none;
}
.x-combo-noedit {
   border:1px #cecece solid;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   background: #ffffff url(../images/exticons/drop-between.gif) no-repeat right;
}
.x-combo-list {
    border:1px solid #cecece;
    background:#ffffff;
    zoom:1;
    overflow:hidden;
}
