<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>eq-ds</display-name>
	<!-- Spring Context files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/applicationContext*.xml
		</param-value>
	</context-param>
	<!--i18n-->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>application</param-value>
	</context-param>
	
	<!--ExtremeTable Properties-->
	<context-param>
		<param-name>ecsidePreferencesLocation</param-name>
		<param-value>/ecside.properties</param-value>
	</context-param>

	<!-- Listeners Spring Context loader-->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<!-- Spring refresh Introspector prevent from memory leak-->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!--Open Session in View Filter -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			com.systop.core.dao.hibernate.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>excludeSuffixs</param-name>
			<param-value>js,css,jpg,gif,png</param-value>
		</init-param>
		
	</filter>
	
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Spring Character Encoding filter-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<!--Acegi-->
	<filter>
        <filter-name>Acegi Filter Chain Proxy</filter-name>
       
        <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
        </init-param>       
    </filter>
    
    <filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>/j_security_check</url-pattern>		
	</filter-mapping>
	<filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>		
		<url-pattern>/j_acegi_logout</url-pattern>		
	</filter-mapping>
	 <filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	 <filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	 <filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>*.shtml</url-pattern>
	</filter-mapping>
	<!--counter-->	<!--
	<filter>
        <filter-name>counterFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    -->
    <filter>
    	<filter-name>siteFilter</filter-name>
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    
    <filter-mapping>
    	<filter-name>siteFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>siteFilter</filter-name>
    	<url-pattern>*.do</url-pattern>    	
    </filter-mapping>
    <filter-mapping>
    	<filter-name>siteFilter</filter-name>
    	<url-pattern>*.shtml</url-pattern>
    </filter-mapping>
    
    <filter>
    	<filter-name>downFilter</filter-name>
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>downFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--
    <filter-mapping>
		<filter-name>counterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    -->
	<!-- ecside is great Table tablib,and it is created by chinese -->
	<filter>
		<filter-name>ecsideExport</filter-name>
		<filter-class>org.ecside.filter.ECSideFilter</filter-class>
		
		<init-param>
			<param-name>useEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>		
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ecsideExport</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- struts2 filter -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- FreeMarkerServlet Config -->
	<servlet>
		<servlet-name>freeMarkerServlet</servlet-name>
		<servlet-class>
			com.systop.cms.webview.servlet.CmsWebViewServlet
		</servlet-class>

		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>

		<!-- FreeMarker settings: -->
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>0</param-value><!-- 0 is for development only! Use higher value otherwise. -->
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>freeMarkerServlet</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	

	<!-- Servlets DWR Ajax, plugins/DWR -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<!-- JCaptcha servlet -->
	<servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.systop.common.modules.security.jcaptcha.ImageCaptchaServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>
    </servlet-mapping>
    
    <!-- FCKEditor -->
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>/scripts/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
    <!--minutes of session out of time-->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
    <jsp-config>
		
		<taglib>
			<taglib-uri>http://www.ecside.org</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/ecside.tld
			</taglib-location>
		</taglib>
		
		<taglib>
			<taglib-uri>/systop/common</taglib-uri>
			<taglib-location>/WEB-INF/tld/common.tld</taglib-location>
		</taglib>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>index.shtml</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/500.jsp</location>
	</error-page>
</web-app>
