<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false">
	<description>配置各种常量,初始化系统等</description>
	<!-- 初始化Admin账户、角色 -->
	<bean id="adminInitializer" class="com.systop.common.modules.security.user.service.SysInitializer">
	    <property name="adminEmail" value="eq_datashare@163.com"></property>  
	    <property name="adminPwd" value="manager"></property>
	    <property name="adminDesc" value="系统管理员角色"></property>
	    <property name="adminName" value="Administrator"></property>
	</bean>
	
</beans>