<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true">
	<bean id="deptManager" parent="baseTxService">
		<property name="target">
			<bean
				class="com.systop.common.security.dept.service.impl.DeptManagerImpl">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="copy*">PROPAGATION_REQUIRED</prop>
				<prop key="paste*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	
	<bean id="deptDojoAction" class="com.systop.common.security.dept.webapp.action.DeptDojoAction"
      singleton="false">
      <property name="deptManager" ref="deptManager" />
    </bean>
</beans>
